<template>
    <div :class="box">
        <div class="box-header with-border">
            <slot name="header"></slot>
        </div>
        <div class="box-body">
            <slot name="body"></slot>
        </div>

        <div class="box-footer">
            <slot name="footer"></slot>
        </div>

        <div class="overlay hidden">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['type'],

        computed: {
            box: function () {
                if (!this.type) {
                    return 'box box-default';
                }

                return 'box box-' + this.type;
            }
        }
    }
</script>