<template>
    <div class="info-box">
        <span :class="mountBox"><i :class="icon"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">{{ title }}</span>
            <span class="info-box-number">{{ value }}</span>
        </div>
        <!-- /.info-box-content -->
    </div>
</template>

<script>
    export default {
        props: ['color', 'icon', 'title', 'value'],

        computed: {
            mountBox: function () {
                return "info-box-icon bg-" + this.color;
            }
        }
    }
</script>
